html{
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    background: linear-gradient(to bottom right,#50a3a2 0%,#78cc6d 100%);
    font-family: 'PT Sans', sans-serif;

}

a{
    font-family: 'PT Sans', sans-serif;
    color: #000;
    font-size: 1em;
    text-decoration: none;

}

i{
    margin-right: 1rem;
}

.container{
    max-width: 1200px;
    width: 95%;
    height: 100vh;
    margin: auto;
    padding: 1px;
}

.cv{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media  (max-width: 767px) {
        display: block;

    }
}


.red{
    color: #23292e;
}

.blue{
    color: #49678d;
}

.green{
    color: #28b13f;
}

.opacity:hover {
    opacity: .5;
}

.span{
    background: $gray;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
    margin-right: 1rem;
}
.sobre-mi{
    display: none;
}

.show{
    display: block;

}



.btn{
    border-radius: 1rem;
    margin: 1rem 0;
    display: inline-block;
    padding: 10px 20px;
    color: #dadada;
    text-decoration: none;
    margin-right: 1rem;
    box-shadow: 3px -3px 5px -1px rgb(87, 85, 85)inset;
    overflow: hidden;

}

.btn-primary{
    background: $green;
}

.btn:hover{
    background: rgb(32, 156, 0);
    box-shadow: 3px -3px 5px -1px #fff inset ;
}

.main::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    background-color: greenyellow;

    // display: none;  /* Ocultar scroll */
}

.main::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
   
}

.main::-webkit-scrollbar-track, body::-webkit-scrollbar-track  {
    background: #e1e1e1;
    border-radius: 4px;
}

.activo{
    background-color: #90d30c;
    color: white !important; 
}

.estudios ul li .after{
    content: "ssss";
    background: #e1e1e1;
    height: 15px;
    width: 173px;
    border-radius: 22px;
    position: relative;
}

.cantidad{
    background: #28b13f;
    height: 100%;
    z-index: 10;
    position: absolute;
    border-radius: 22px;
}

.medium{
    width: 50%;
}
.min{
    width: 30%;
}
.alta{
    width: 70%;
}
h4{
    margin: 25px 0;
}
