html{
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    background: linear-gradient(to bottom right,#50a3a2 0%,#78cc6d 100%);
    font-family: 'PT Sans', sans-serif;

}

i{
    margin-right: 1rem;
}

.container{
    max-width: 1200px;
    width: 95%;
    height: 100vh;
    margin: auto;
    padding: 1px;
}

.cv{
    display: flex;
    justify-content: space-between;

    @media  (max-width: 767px) {
        flex-direction: column;
    }
}

.red{
    color: #d5303e;
}

.blue{
    color: #49678d;
}

.green{
    color: #28b13f;
}

.span{
    background: $gray;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
    margin-right: 1rem;
}

.width{
    width: 10px;
}



