.header{
    flex: 0 0 40%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    z-index: 100;
    @media  (max-width: 767px) {
        flex-direction: column;

        .perfil{
            margin: 2rem 0;
        }
    }

    .perfil{
        flex: 0 0 90%;
        background-color: $white;
        box-shadow: 10px -5px 11px -8px #393938;
        position: relative;

        .portada{
            background: url('../images/web.jpg');
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 200px;
            position: relative;
           
            .foto{ 
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
               
                img{
                 width: 150px;
                 height: 150px;
                 border-radius: 50%;
                }
            }
            &:before{
                content: '';
                width: 17rem;
                height: 100px;
                background-color: transparent;
                position: absolute;
                left: -10%;
                bottom: -10%;
                transform: rotate(30deg);
               
            }
        
        }   
    }

    .datos-personales{
        margin-top: 5rem;
        font-family: $ptNarow;

        @media (max-width:767px) {
            padding-bottom: 50px;
        }

        .info{
            text-align: center;
            @media (max-width: 767px){
                padding-bottom: 5rem;
            }

            ul {
                list-style: none;
                font-size: 30px;
                height: 30px;
                line-height: 30px;
                overflow: hidden;  
                
                li{
                    position: relative;
                    animation: text 7s 1s infinite alternate;
                }

            }

            span{
                display: block;
                margin: 1rem 0;
                color: $green;
                font-size: 2.5rem;
            }
        }/*info*/

        .sociales{
            margin: 1rem 0;
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%);
            a{
                padding: 0 1rem;
                text-decoration: none;
                font-size: 4rem;
               

            }
            @media (max-width:976px){
                left: 25%;
                transform: translate(-10%);
            }

            @media  (max-width: 767px) {
                left: 50%;
                transform: translate(-50%);
                 margin-top: 2rem;
              
            }

            @media (max-width: 450px){
                
                a{
                    font-size: 3rem;
                    padding: 0 .5rem;
                }
            }
        }

    }/*datos personales*/

}/*header*/

@keyframes text{

    0%,20%{transform: translateY(0); color: orangered;}
   

    25%, 50%{transform: translateY(-30px); color: rgb(0, 110, 255);}
  
    55%,80%{transform: translateY(-60px); color: rgba(255, 187, 0, 0.876);}
   

    85%{transform: translateY(-30px); color: rgb(0, 110, 255);}
    90%{transform: translateY(-30px); color: rgb(0, 110, 255);}

    100%{transform: translateY(0); color: orangered;}

  
}


