.main{
    flex: 0 0 60%;
    background-color: $white;
    height: 550px;
    margin: auto;
    padding-left: 7rem;
    padding-top: 2rem;
    overflow: auto;

    @media  (max-width: 767px) {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-bottom: 20rem;
        padding-left: 0;
       
    }
    
    .sobre-mi {   

        @media (max-width: 767px){
            width: 95%;
            padding-left: 2rem;
        }

        h3{
            width: 100%;
            background: $green;
            border-radius: 2rem 0 0 2rem;
            padding-left: 1rem;
        }
        .datos{
            list-style: none;
            padding: 1rem ;
            
            li{
                display: flex;
                justify-content: space-between;
                padding: .5rem 0;
                span{
                    
                    flex: 0 0 50%;
                }
            }
        }
        
        .studen{
            display: flex;
            justify-content: space-between;
            position: relative;

            &:after{
                content: '';
                background: #f2f2f2;
                height: 20rem;
                width: .2rem;
                position: absolute;
                left: 45%;
                transform: translate(-50%); 
                border-radius: 50%;

            }
        }
        
        .estudios{
            flex: 0 0 50%;
            list-style: none;
            padding: .5rem ;
            li{
                padding: 1rem 0;
                position: relative;
                ul{
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);         
                }
              
            }
            
        }

        .row {
            display: flex;
            justify-content: space-between;   
            flex-wrap: wrap;

            .col {
                width: 50%;

                img{
                    width: 100%;
                    padding: 1rem;
                }
            }
        }
    }/*sobre-mi*/
    
}

